<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ pagetitle }}</title>
    <meta name="description" content="Family langueges skills"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

    {% if self_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/'+ self_css) }}" />
    {% endif %}
    <link rel="stylesheet" href="https://assets.msn.com/staticsb/statics/latest/brand/new-msn-logo-color-black.svg">
  </head>
  <body>
    {% block body %}

    {% endblock %}
    
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
 
</html>