body{
    box-sizing: border-box;
    background-color: #f5ede2;
}


.main-body{
    font-family: "Libertinus Serif", serif;
}


.main-body h1{
    font-size: 48px;
    text-align: center;
    color: rgb(255, 136, 1);
}

.p-des{
    font-size: 28px;
    text-align: center;
    margin-top: -30px;
}

.box-left{
    width: 380px;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    margin-left: 14vw;
    margin-top: 150px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);

}

.p-log-in{
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(255, 136, 1);
}

.log-user{
    font-size: 18px;
    width: 95.5%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(200, 197, 193);
    padding-left: 10px;
    text-align: left;
    margin-bottom: 15px;

}

.log-pass{
    font-size: 18px;
    width: 95.5%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(200, 197, 193);
    padding-left: 10px;
    text-align: left;
    margin-bottom: 15px;

}

.log-in{
    font-size: 24px;
    width: 100%;
    height: 45px;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 10px;
    text-align: center;
    background-color: rgb(255, 136, 1);
    color: white;
    cursor: pointer;
    border: none;
    margin-bottom: 15px;

}

.log-in:hover{
    transform: scale(1.3);
        transition: 1s;
}

.forgot{
    font-size: 16px;
    margin-left: 130px;
    color: rgb(2, 126, 235);
    text-decoration: none;
}

.forgot:hover{
    text-decoration: underline;
    color: rgb(255, 136, 1);
}

.box-right{
    width: 400px;
    height: 610px;
    margin-left: 20px;
    margin-left: 60vw ;
    background-color: #fff;
    border-radius: 10px;
    margin-top: -330px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
}


.p-sign-up{
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: rgb(255, 136, 1);

}



.sign-first-name{
    font-size: 18px;
    width: 95.5%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(200, 197, 193);
    padding-left: 10px;
    text-align: left;
    margin-bottom: 15px;

}


.sign-last-name{
    font-size: 18px;
    width: 95.5%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(200, 197, 193);
    padding-left: 10px;
    text-align: left;
    margin-bottom: 15px;
}

.sign-gender{
    margin-top: 5px;
    font-size: 24px;
    color: rgb(255, 136, 1);
    margin-bottom: 10px;
}

.label1 {
    width: 35%;
    height: 35px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(200, 197, 193);
    margin-left: 40px;
    margin-bottom: 20px;
    display: inline-block;
}

.label1 label{
    position: absolute;
    margin-left: 40px;
    margin-top: 8px;
    cursor: pointer;
    
}

.sign-male{
    position: absolute;
    margin-left: 83px;
    margin-top: 13px;
    cursor: pointer;
}

.label2 {
    width: 35%;
    height: 35px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid rgb(200, 197, 193);
    margin-left: 220px;
    margin-top: -60px;
    margin-bottom: 20px;

}


.label2 label{
    position: absolute;
    margin-left: 35px;
    margin-top: 8px;
    cursor: pointer;
    
}

.sign-female{
    position: absolute;
    margin-left: 93px;
    margin-top: 13px;
    cursor: pointer;
}

.sign-email{
    font-size: 18px;
    width: 95.5%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(200, 197, 193);
    padding-left: 10px;
    text-align: left;
    margin-bottom: 15px;
}

.sign-pass{
    font-size: 18px;
    width: 95.5%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(200, 197, 193);
    padding-left: 10px;
    text-align: left;
    margin-bottom: 15px;
}

.sign-pass-confirm{
    font-size: 18px;
    width: 95.5%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(200, 197, 193);
    padding-left: 10px;
    text-align: left;
    margin-bottom: 15px;
}


.sign-up{
    font-size: 24px;
    width: 100%;
    height: 50px;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 10px;
    text-align: center;
    background-color: rgb(255, 136, 1);
    color: white;
    cursor: pointer;
    border: none;
    margin-bottom: 15px;

}

.help{
    font-size: 16px;
    margin-left: 170px;
    color: rgb(2, 126, 235);
    text-decoration: none;
}

.help:hover{
    text-decoration: underline;
    color: rgb(255, 136, 1);
}

.footer{
    position: relative;
    margin-top: 20vw;
    height: 80px;
    width: 100%;
    text-align: center;
    background-color: #ffe7cb;
}

.all{
    position: absolute;
    color: rgb(255, 136, 1);
    margin-left: 40px;

}

.footer a{
    display: inline-block;
    margin-top: 20px;
    margin-left: 80px;
    color: rgb(255, 136, 1);

}

.log-pass:focus,.sign-email:focus,.log-user:focus,.sign-first-name:focus,.sign-last-name:focus,.sign-email:focus,.sign-pass:focus,.sign-pass-confirm:focus{
    outline: none;
    border-color: rgb(255, 136, 1);
    box-shadow: 0 0 5px rgb(255, 136, 1, 0.5);
}
